body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

.container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  height: auto;
  padding: 2rem;
}

.container label{
  text-align: center;
}

.container input{
  text-align: center;
  width: 15rem;
  height: auto;
  margin: auto;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid salmon;
  background-color: rgba(250, 128, 114, 0.15);
}

.container div{
  display: flex;
  gap: 1rem;
}

.smallButton{
  width: 7rem;
  height: auto;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: skyblue;
  cursor: pointer;
}

.smallButton:hover{
  background-color: rgba(135, 207, 235, 0.9);
}

.googleButton{
  width: 15rem;
  height: auto;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: skyblue;
  cursor: pointer;
}

.googleButton:hover{
  background-color: rgba(135, 207, 235, 0.9);
}

footer{
  text-align: center;
}

footer div{
  display: flex;
  gap: 1rem;
}

footer p{
  padding: 1rem;
  margin: auto;
 }
